.container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100%;
  align-items: center;
  margin: 0px;
  padding: 20px;
}
.form {
  width: 150px !important;
}
.mt-4 {
  margin-top: 40px !important;
  font-size: 28px !important;
}
.hooks {
  font-family: 'Poppins', sans-serif;
  font-size: 48px;
  color: #333;
  margin: 20px;
}
.content {
  margin: 20px;
  display: flex;
  font-size: 30px;
  gap: 10px;
}
button {
  padding: 5px;
  border: none;
  border-radius: 10px;
  background-color: rgb(20, 187, 228);
  color: aliceblue;
}
body {
  margin: 0px !important;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  position: fixed;
  top: 0;
  width: 100%;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover:not(.active) {
  opacity: 0.8;
}
.imperative {
  margin-top: 60px;
  justify-content: center;
}
.login {
  background-color: #04aa6d;
}
.logout {
  background-color: rgb(243, 108, 108);
}
.red {
  background-color: red !important;
}
input[type=text], select {
  /* width: 100%; */
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type=submit] {
  width: 100%;
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #45a049;
}

